:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo:hover .logo_color_light, .logo:hover .logo_color_dark, .logo:focus .logo_color_light, .logo:focus .logo_color_dark {
  color: var(--primary-text-color);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumb {
  position: relative;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}
.logo:hover, .logo:focus {
  color: var(--primary-text-color);
}

.logo_color_dark {
  color: #000000;
  transition: color var(--transition-dur-and-func);
}

.logo_color_light {
  color: var(--primary-background-color);
  transition: color var(--transition-dur-and-func);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 32px 7px;
  min-width: 216px;
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  color: var(--accent-color);
  background-color: var(--primary-background-color);
}

.social-list-team {
  display: flex;
  justify-content: center;
}

.social-list-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list-team__link:hover, .social-list-team__link:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.social-list-footer {
  display: flex;
}

.social-list-team__item,
.social-list-footer__item {
  width: 44px;
  height: 44px;
}
.social-list-team__item:not(:last-child),
.social-list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-list-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-background-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list-footer__link:hover, .social-list-footer__link:focus {
  background-color: var(--accent-color);
}

.social-list-footer__icon,
.social-list-team__icon {
  fill: currentColor;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border-color var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-close-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-capture {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  color: var(--title-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
  fill: var(--title-text-color);
}
.modal-form-input:focus + .modal-form-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-wrapper {
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-own-checkbox {
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8.38px;
}

.modal-form-own-checkbox-icon {
  display: none;
}
.modal-form-checkbox:checked + .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-checkbox {
  transition: border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.modal-form-checkbox:focus + .modal-form-own-checkbox {
  border-radius: 2px;
  border-color: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-submit {
  align-self: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-form-submit:hover, .modal-form-submit:focus {
  cursor: pointer;
}

.subscribe {
  width: 570px;
  height: 86px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color var(--transition-dur-and-func);
  color: var(--primary-background-color);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscribe-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form__icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}
.main-nav {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation {
  display: flex;
  text-align: center;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link,
.site-nav__link_current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}
.site-nav__link:hover, .site-nav__link:focus,
.site-nav__link_current:hover,
.site-nav__link_current:focus {
  color: var(--accent-color);
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link_current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__envelope-icon,
.header-contacts__smartphone-icon {
  fill: currentColor;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackground-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (min-resolution: 288dpi) and (max-width: 767px), screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-mobile@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-tablet@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-tablet@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-desktop@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground-desktope@3x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}
.specialization-list {
  display: flex;
  justify-content: space-between;
}

.specialization .title {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .feature-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list .item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list .item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section.features {
    padding-bottom: 0;
  }
}

.feature-list .title,
.team-list .title,
.portfolio-list .title {
  color: var(--title-text-color);
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
}

.client-list .client-item + .client-item {
  margin-left: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.client-link:hover, .client-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: var(--accent-color);
  outline: none;
}

.client-icon {
  fill: currentColor;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list__btn {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border: none;
  font-family: inherit;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
  display: block;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-list .card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list .position {
  margin-top: 0;
  margin-bottom: 16;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-list__link {
  display: block;
  width: 100%;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img {
  display: block;
}

.portfolio-list__card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 100%;
}

.portfolio-list__link {
  text-decoration: none;
}

.portfolio-list__item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__item-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-list__item-description {
  position: absolute;
  top: 0;
  display: inline-block;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio-list__link:hover .portfolio-list__item-description, .portfolio-list__link:focus .portfolio-list__item-description {
  transform: translateY(0%);
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.foot {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.footer-contacts__address {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts {
  font-style: normal;
}
.footer-contacts .footer-contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.foot > .container {
  display: flex;
  align-items: baseline;
}

.contact-info {
  margin-right: 70px;
}

.social {
  margin-right: 93px;
}

.label {
  color: var(--primary-background-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */