.client-list {
  display: flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

// .client-list .client-item + .client-item {
//   margin-left: 30px;
// }

.client-item {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    color: var(--accent-color);
    outline: none;
  }
}

.client-icon {
  fill: currentColor;
}



// .client-list {
//   display: flex;
// }

// .client-list .client-item + .client-item {
//   margin-left: 30px;
// }

// .client-item {
//   width: 170px;
//   height: 92px;
// }

// .client-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: #afb1b8;
//   width: 100%;
//   height: 100%;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;

//   transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     border: 1px solid #2196f3;
//     border-radius: 4px;
//     color: var(--accent-color);
//     outline: none;
//   }
// }

// .client-icon {
//   fill: currentColor;
// }
