@media screen  and (max-width: 767px) {
  .site-nav  {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .header-contacts {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.main-nav {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation {
  display: flex;
  text-align: center;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link,
.site-nav__link_current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: - 1.5px;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__envelope-icon,
.header-contacts__smartphone-icon {
  fill: currentColor;
}












// .main-nav {
//   border-bottom: 1px solid #ececec;
//   display: flex;
//   align-items: center;
// }

// .site-nav {
//   display: flex;
//   align-items: center;
//   margin-left: 93px;
// }

// .header-contacts {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }

// .navigation {
//   display: flex;
//   text-align: center;
// }

// .site-nav__item + .site-nav__item {
//   margin-left: 50px;
// }

// .site-nav__link,
// .site-nav__link_current {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--title-text-color);

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   text-decoration: none;

//   transition: color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .site-nav__link_current {
//   position: relative;
//   color: var(--accent-color);

//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: - 1.5px;
//     margin: 0;
//     padding: 0;

//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }

// .header-contacts__item + .header-contacts__item {
//   margin-left: 50px;
// }

// .header-contacts__link {
//   display: flex;
//   align-items: center;
//   gap: 10px;

//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--primary-text-color);

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition: color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .header-contacts__envelope-icon,
// .header-contacts__smartphone-icon {
//   fill: currentColor;
// }