@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}

.specialization-list {
  display: flex;
  justify-content: space-between;
}

.specialization .title {
  position: absolute;
  bottom: 4px;

  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--primary-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-align: center;
}

// .specialization-list {
//   display: flex;
//   justify-content: space-between;
// }

// .specialization .title {
//   position: absolute;
//   bottom: 4px;

//   width: 100%;
//   height: 70px;
//   margin: 0;
//   padding-top: 27px;
//   padding-bottom: 27px;

//   color: var(--primary-background-color);
//   background-color: rgba(47, 48, 58, 0.8);
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;

//   text-transform: uppercase;
//   text-align: center;

// }
