.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
  
}

.logo_color_dark {
  color: #000000;
  transition: color var(--transition-dur-and-func);

  @extend %logo_hoverfocus;
}

.logo_color_light {
  color: var(--primary-background-color);
  transition: color var(--transition-dur-and-func);

  @extend %logo_hoverfocus;
}
