@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px 40px;
    height: 100vh;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}

.mobile-menu__link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__item + .mobile-menu__item {
  margin-top: 32px;
}

.mobile-menu__link_current {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu-contacts__link_accented {
  margin-bottom: 32px;

  color: var(--accent-color);

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.mobile-menu-contacts__link {
  // margin-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu-social {
  display: flex;
  // margin-top: auto;
}

// .mobile-menu-social__link {
//   bottom: 0;
// }

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }
}
