.subscribe {
  // width: 570px;
  height: 156px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.social {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.subscribe-form {
  align-content: center;
  // display: flex;
  // justify-content: space-between;
  
  @media screen and (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
  }
}

.subscribe-form__input {
  margin-bottom: 12px;
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color var(--transition-dur-and-func);
  color: var(--primary-background-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.subscribe-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
}
